# **Introduction**

This is a User-based Collaborative Movie Recommendation System build using [MovieLens Dataset](https://grouplens.org/datasets/movielens/100k/).

How this system works?

* Similarities between users are computed.
*  Based on the computed similarities, recommend movies liked by similar users and not watched by the target user.

![User-based.png]()

# **Load Data**

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import NearestNeighbors

ratings dataset contains the following features:-

* userId
* movieId
* rating 
* timestamp

In [80]:
cols = ['userId','movieId','rating','timestamp']
ratings = pd.read_csv('u.data', sep = '\t', names = cols)
ratings.head()

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In movies dataset features required:-

* id - A unique identifier for each movie.
* belongs_to_collection: Name of the movie.

In [81]:
import chardet
with open('u.item', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'ISO-8859-1', 'language': ''}

In [82]:
cols = ['movieId', 'Name', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,  17, 18, 19, 20, 21]
movies = pd.read_csv('u.item', sep = '|', encoding='ISO-8859-1', names = cols)
movies = movies[['movieId', 'Name']]
movies.head()

   movieId               Name
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

# **Data Preprocessing**

**Transforming data into required user-movie rating dataset**

In [ ]:
ratings.userId.unique()

array([196, 186,  22, 244, 166, 298, 115, 253, 305,   6,  62, 286, 200,
       210, 224, 303, 122, 194, 291, 234, 119, 167, 299, 308,  95,  38,
       102,  63, 160,  50, 301, 225, 290,  97, 157, 181, 278, 276,   7,
        10, 284, 201, 287, 246, 242, 249,  99, 178, 251,  81, 260,  25,
        59,  72,  87,  42, 292,  20,  13, 138,  60,  57, 223, 189, 243,
        92, 241, 254, 293, 127, 222, 267,  11,   8, 162, 279, 145,  28,
       135,  32,  90, 216, 250, 271, 265, 198, 168, 110,  58, 237,  94,
       128,  44, 264,  41,  82, 262, 174,  43,  84, 269, 259,  85, 213,
       121,  49, 155,  68, 172,  19, 268,   5,  80,  66,  18,  26, 130,
       256,   1,  56,  15, 207, 232,  52, 161, 148, 125,  83, 272, 151,
        54,  16,  91, 294, 229,  36,  70,  14, 295, 233, 214, 192, 100,
       307, 297, 193, 113, 275, 219, 218, 123, 158, 302,  23, 296,  33,
       154,  77, 270, 187, 170, 101, 184, 112, 133, 215,  69, 104, 240,
       144, 191,  61, 142, 177, 203,  21, 197, 134, 180, 236, 263, 109,
        64, 114, 239, 117,  65, 137, 257, 111, 285,  96, 116,  73, 221,
       235, 164, 281, 182, 129,  45, 131, 230, 126, 231, 280, 288, 152,
       217,  79,  75, 245, 282,  78, 118, 283, 171, 107, 226, 306, 173,
       185, 150, 274, 188,  48, 311, 165, 208,   2, 205, 248,  93, 159,
       146,  29, 156,  37, 141, 195, 108,  47, 255,  89, 140, 190,  24,
        17, 313,  53, 124, 149, 176, 106, 312, 175, 153, 220, 143, 199,
       202, 277, 206,  76, 314, 136, 179,   4, 304,   3, 227, 252, 212,
       310,  35, 147, 105,  34,  71,  51, 204, 315,  31, 316, 103, 318,
        30, 120,  46, 289, 209, 261,  88,   9, 247, 321, 266,  74, 238,
       319, 323,  67, 211,  98,  12,  40, 258, 228, 325, 320, 326, 327,
       183, 328, 322, 330,  27, 331, 332, 329,  86, 139, 300, 163, 333,
       334,  39, 324, 132, 336, 335, 169, 338, 339, 309, 342, 340, 317,
       341, 343, 344, 345, 346, 347, 273,  55, 349, 348, 354, 351, 358,
       352, 360, 363, 355, 362, 357, 356, 361, 365, 350, 367, 368, 371,
       373, 370, 374, 372, 337, 378, 366, 377, 375, 359, 379, 380, 381,
       385, 382, 387, 364, 369, 388, 386, 389, 383, 390, 393, 392, 376,
       394, 391, 398, 397, 399, 396, 401, 402, 384, 395, 353, 403, 405,
       400, 406, 407, 409, 404, 413, 416, 408, 410, 411, 417, 412, 420,
       422, 425, 419, 415, 423, 429, 428, 427, 418, 424, 432, 421, 435,
       433, 426, 436, 430, 434, 437, 438, 431, 442, 440, 445, 447, 449,
       450, 446, 439, 451, 452, 454, 453, 414, 455, 444, 448, 457, 456,
       458, 462, 459, 460, 461, 467, 468, 466, 472, 465, 463, 471, 474,
       469, 464, 476, 478, 473, 470, 480, 441, 479, 484, 486, 487, 482,
       481, 492, 493, 490, 489, 483, 496, 494, 495, 477, 497, 488, 498,
       499, 491, 500, 502, 503, 504, 505, 506, 443, 507, 514, 508, 511,
       515, 512, 513, 475, 523, 518, 509, 516, 510, 524, 501, 525, 521,
       520, 519, 528, 532, 530, 531, 529, 517, 527, 485, 533, 535, 536,
       526, 537, 534, 541, 538, 542, 545, 539, 547, 543, 548, 546, 522,
       551, 544, 553, 552, 540, 554, 550, 556, 559, 560, 561, 563, 566,
       557, 558, 564, 565, 573, 549, 567, 569, 562, 576, 577, 579, 574,
       555, 572, 575, 584, 588, 587, 568, 586, 585, 582, 591, 581, 592,
       580, 590, 593, 583, 596, 570, 599, 589, 594, 597, 578, 601, 602,
       600, 605, 603, 595, 606, 608, 607, 610, 611, 617, 618, 614, 609,
       615, 616, 620, 571, 619, 613, 622, 621, 604, 624, 612, 627, 623,
       628, 625, 629, 633, 632, 631, 634, 639, 630, 642, 637, 640, 626,
       643, 598, 638, 635, 644, 636, 645, 648, 647, 650, 651, 654, 653,
       655, 649, 658, 656, 660, 659, 646, 663, 664, 657, 665, 666, 661,
       662, 667, 641, 668, 673, 671, 669, 676, 674, 652, 677, 682, 679,
       684, 685, 683, 691, 672, 692, 690, 689, 686, 693, 688, 697, 698,
       670, 694, 680, 705, 701, 699, 704, 707, 700, 687, 695, 675, 708,
       709, 711, 710, 712, 715, 713, 716, 681, 678, 719, 702, 721, 714,
       717, 718, 696, 722, 724, 727, 725, 706, 720, 729, 726, 728, 703,
       738, 736, 734, 730, 743, 742, 737, 733, 745, 740, 735, 747, 723,
       739, 749, 748, 746, 731, 750, 741, 751, 756, 757, 752, 758, 732,
       762, 744, 754, 753, 763, 764, 767, 769, 755, 771, 768, 773, 765,
       772, 766, 774, 760, 761, 777, 759, 776, 780, 779, 778, 782, 786,
       784, 770, 788, 789, 790, 787, 783, 785, 794, 781, 796, 795, 793,
       798, 791, 802, 800, 804, 803, 775, 792, 799, 805, 806, 807, 797,
       801, 809, 815, 817, 821, 818, 814, 812, 823, 825, 827, 829, 811,
       830, 826, 831, 819, 828, 808, 835, 833, 836, 816, 838, 839, 840,
       832, 810, 844, 843, 834, 846, 837, 813, 842, 847, 848, 822, 852,
       851, 849, 854, 850, 858, 853, 855, 824, 845, 841, 859, 862, 856,
       820, 863, 860, 857, 864, 865, 868, 867, 861, 870, 871, 875, 876,
       872, 866, 877, 873, 880, 878, 869, 881, 879, 883, 882, 884, 886,
       885, 889, 874, 892, 890, 893, 887, 891, 894, 896, 897, 901, 899,
       903, 904, 907, 905, 902, 898, 895, 906, 900, 908, 916, 911, 912,
       914, 918, 919, 921, 910, 913, 915, 922, 923, 928, 927, 924, 929,
       931, 917, 932, 909, 934, 933, 935, 938, 940, 888, 925, 942, 937,
       926, 943, 939, 936, 930, 920, 941])

In [ ]:
ratings.movieId.unique()

array([ 242,  302,  377, ..., 1637, 1630, 1641])

In [83]:
n_users = ratings.userId.max()  #No. of users in the dataset
n_items = ratings.movieId.max()
A = np.zeros((n_users + 1,n_items + 1))
for line in ratings.itertuples():
    A[line[1],line[2]] = line[3]
print("Original rating matrix : ",A)

Original rating matrix :  [[0. 0. 0. ... 0. 0. 0.]
 [0. 5. 3. ... 0. 0. 0.]
 [0. 4. 0. ... 0. 0. 0.]
 ...
 [0. 5. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 5. ... 0. 0. 0.]]

Considering, rating >= 3 is liked by the users and rating < 3 is disliked by the user.

A[i][j] => whether user (i) likes/dislikes movie (j)

A[i][j] = 1 => liked by the user

A[i][j] = 0 => disliked by the user

In [84]:
for i in range(len(A)):
  for j in range(len(A[0])):
    if A[i][j]>=3:
      A[i][j]=1
    else:
      A[i][j]=0
print(A)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 1. 1. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 ...
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]]

**Movie Similarity Computation**

Used KNN algorithm with consine similarity matrix

In [85]:
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_jobs=-1)
knn.fit(A)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1)

**Recommendations for User**

Target User = User with userId 1

In [88]:
#filter consists of moviesId already liked by seen by user1
filter = ratings[ratings['userId'] == 1].movieId
filter = filter.tolist()
print("userId 1 watched: ")
for i in filter:
  print((movies[movies.movieId == i])['Name'].to_string(index = False))

userId 1 watched:
Three Colors: White (1994)
Grand Day Out, A (1992)
Desperado (1995)
Glengarry Glen Ross (1992)
Angels and Insects (1995)
Groundhog Day (1993)
Delicatessen (1991)
Hunt for Red October, The (1990)
Dirty Dancing (1987)
Rock, The (1996)
Ed Wood (1994)
Star Trek: First Contact (1996)
Pillow Book, The (1995)
Horseman on the Roof, The (Hussard sur le toit,...
Star Trek VI: The Undiscovered Country (1991)
From Dusk Till Dawn (1996)
So I Married an Axe Murderer (1993)
Shawshank Redemption, The (1994)
True Romance (1993)
Star Trek: The Wrath of Khan (1982)
Kull the Conqueror (1997)
Independence Day (ID4) (1996)
Wallace & Gromit: The Best of Aardman Animation...
Wizard of Oz, The (1939)
Faster Pussycat! Kill! Kill! (1965)
Citizen Kane (1941)
Silence of the Lambs, The (1991)
Blues Brothers, The (1980)
Breaking the Waves (1996)
Robert A. Heinlein's The Puppet Masters (1994)
Crimson Tide (1995)
Four Weddings and a Funeral (1994)
Three Colors: Blue (1993)
Good, The Bad and The Ugly, The (1966)
Bad Boys (1995)
Event Horizon (1997)
Lawnmower Man, The (1992)
Raiders of the Lost Ark (1981)
Basic Instinct (1992)
Jurassic Park (1993)
Pulp Fiction (1994)
Good Will Hunting (1997)
Hot Shots! Part Deux (1993)
Star Trek III: The Search for Spock (1984)
Homeward Bound: The Incredible Journey (1993)
101 Dalmatians (1996)
Mars Attacks! (1996)
Striptease (1996)
Phenomenon (1996)
Field of Dreams (1989)
Shanghai Triad (Yao a yao yao dao waipo qiao) (...
Theodore Rex (1995)
I.Q. (1994)
Akira (1988)
Carlito's Way (1993)
Mask, The (1994)
Psycho (1960)
Terminator 2: Judgment Day (1991)
Room with a View, A (1986)
Under Siege (1992)
Contact (1997)
Hudsucker Proxy, The (1994)
Free Willy (1993)
Unbearable Lightness of Being, The (1988)
Sound of Music, The (1965)
Willy Wonka and the Chocolate Factory (1971)
Legends of the Fall (1994)
Brazil (1985)
Moll Flanders (1996)
Cape Fear (1991)
This Is Spinal Tap (1984)
George of the Jungle (1997)
Kids in the Hall: Brain Candy (1996)
In the Company of Men (1997)
Usual Suspects, The (1995)
Postino, Il (1994)
Dances with Wolves (1990)
Dolores Claiborne (1994)
Natural Born Killers (1994)
Return of the Pink Panther, The (1974)
Indiana Jones and the Last Crusade (1989)
Army of Darkness (1993)
Platoon (1986)
Evil Dead II (1987)
Swingers (1996)
Alien (1979)
Grosse Pointe Blank (1997)
Young Frankenstein (1974)
Supercop (1992)
Kolya (1996)
Ghost and the Darkness, The (1996)
Flipper (1996)
Right Stuff, The (1983)
Mimic (1997)
Nightmare on Elm Street, A (1984)
Young Guns (1988)
Citizen Ruth (1996)
Lost World: Jurassic Park, The (1997)
Shining, The (1980)
Apocalypse Now (1979)
Fifth Element, The (1997)
Ref, The (1994)
Nightmare Before Christmas, The (1993)
Richard III (1995)
Batman & Robin (1997)
Bound (1996)
Last of the Mohicans, The (1992)
Kansas City (1996)
My Best Friend's Wedding (1997)
All Dogs Go to Heaven 2 (1996)
Twister (1996)
Outbreak (1995)
unknown
Rumble in the Bronx (1995)
Remains of the Day, The (1993)
Dead Poets Society (1989)
Strange Days (1995)
Abyss, The (1989)
Star Trek IV: The Voyage Home (1986)
Mad Love (1995)
Taxi Driver (1976)
Ridicule (1996)
Maverick (1994)
Ace Ventura: Pet Detective (1994)
What's Eating Gilbert Grape (1993)
Henry V (1989)
Fargo (1996)
Die Hard 2 (1990)
Jungle2Jungle (1997)
Monty Python's Life of Brian (1979)
Pink Floyd - The Wall (1982)
Top Gun (1986)
Stargate (1994)
Full Metal Jacket (1987)
Aristocats, The (1970)
Forrest Gump (1994)
Cinema Paradiso (1988)
Net, The (1995)
Dead Man Walking (1995)
Chasing Amy (1997)
Braveheart (1995)
Muppet Treasure Island (1996)
Clockwork Orange, A (1971)
Godfather: Part II, The (1974)
2001: A Space Odyssey (1968)
Crow, The (1994)
Unhook the Stars (1996)
Aliens (1986)
Manon of the Spring (Manon des sources) (1986)
D3: The Mighty Ducks (1996)
Turbo: A Power Rangers Movie (1997)
Blade Runner (1982)
GoldenEye (1995)
Belle de jour (1967)
Santa Clause, The (1994)
Austin Powers: International Man of Mystery (1997)
Full Monty, The (1997)
Crumb (1994)
20,000 Leagues Under the Sea (1954)
M*A*S*H (1970)
To Wong Foo, Thanks for Everything! Julie Newma...
Gattaca (1997)
Gone with the Wind (1939)
Sneakers (1992)
Sting, The (1973)
When the Cats Away (Chacun cherche son chat) (1...
Mirror Has Two Faces, The (1996)
Welcome to the Dollhouse (1995)
Babe (1995)
Patton (1970)
Jaws (1975)
Sgt. Bilko (1996)
Long Kiss Goodnight, The (1996)
Snow White and the Seven Dwarfs (1937)
Toy Story (1995)
Graduate, The (1967)
Princess Bride, The (1987)
Brother Minister: The Assassination of Malcolm ...
Chasing Amy (1997)
Doom Generation, The (1995)
Die Hard (1988)
Starship Troopers (1997)
Maya Lin: A Strong Clear Vision (1994)
Brothers McMullen, The (1995)
Weekend at Bernie's (1989)
Nadja (1994)
Return of the Jedi (1983)
Mr. Smith Goes to Washington (1939)
Men in Black (1997)
Jerry Maguire (1996)
Breakfast at Tiffany's (1961)
Mystery Science Theater 3000: The Movie (1996)
GoodFellas (1990)
Lion King, The (1994)
Sling Blade (1996)
Exotica (1994)
Wrong Trousers, The (1993)
Billy Madison (1995)
On Golden Pond (1981)
Operation Dumbo Drop (1995)
While You Were Sleeping (1995)
Firm, The (1993)
Bridge on the River Kwai, The (1957)
Priest (1994)
Star Wars (1977)
Raging Bull (1980)
12 Angry Men (1957)
Copycat (1995)
Searching for Bobby Fischer (1993)
Raising Arizona (1987)
Reservoir Dogs (1992)
Diabolique (1996)
Private Benjamin (1980)
Haunted World of Edward D. Wood Jr., The (1995)
Seven (Se7en) (1995)
Devil's Own, The (1997)
Free Willy 2: The Adventure Home (1995)
Big Night (1996)
Godfather, The (1972)
French Twist (Gazon maudit) (1995)
Fugitive, The (1993)
Air Bud (1997)
Eat Drink Man Woman (1994)
Hoop Dreams (1994)
Birdcage, The (1996)
Shall We Dance? (1996)
Terminator, The (1984)
Fish Called Wanda, A (1988)
Heavy Metal (1981)
Monty Python and the Holy Grail (1974)
Frighteners, The (1996)
Amadeus (1984)
Get Shorty (1995)
Steel (1997)
Unforgiven (1992)
Professional, The (1994)
Clerks (1994)
Love Bug, The (1969)
Beavis and Butt-head Do America (1996)
Twelve Monkeys (1995)
Jude (1996)
Disclosure (1994)
Jean de Florette (1986)
Cold Comfort Farm (1995)
Nikita (La Femme Nikita) (1990)
Lone Star (1996)
Aladdin (1992)
Bram Stoker's Dracula (1992)
Quiz Show (1994)
Bedknobs and Broomsticks (1971)
When Harry Met Sally... (1989)
Spitfire Grill, The (1996)
Much Ado About Nothing (1993)
Batman Returns (1992)
Back to the Future (1985)
Four Rooms (1995)
Cyrano de Bergerac (1990)
Smilla's Sense of Snow (1997)
Antonia's Line (1995)
Batman Forever (1995)
White Balloon, The (1995)
Three Colors: Red (1994)
Mr. Holland's Opus (1995)
Truth About Cats & Dogs, The (1996)
Madness of King George, The (1994)
Sleepless in Seattle (1993)
Mighty Aphrodite (1995)
Apollo 13 (1995)
Empire Strikes Back, The (1980)
Cable Guy, The (1996)
Sleeper (1973)
Home Alone (1990)

In [89]:
#Get 5 similar users
ans=[]
distances , recommend = knn.kneighbors([A[1]],n_neighbors = 6)
recommend

array([[  1, 916, 864, 268,  92, 823]])

Recommeding any 5 movies

In [78]:
#Movies similar users liked
filter2 = []
for i in range(6):
  if (i != 1):
    temp = ratings[ratings['userId'] == recommend[0][i]].movieId
    filter2.extend(temp)

#Movies similar to users liked but watched by the target user.
count = 0
print("Recommended Movies:")
for i in filter2:
  if i not in filter:
    print((movies[movies.movieId == i])['Name'].to_string(index = False))
    count += 1

  if count == 5:
    break

Recommended Movies:
Bronx Tale, A (1993)
SubUrbia (1997)
Dangerous Minds (1995)
Malice (1993)
Tombstone (1993)